@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #42BADC;
  --bdrcolor: #D3D3D3;
  --colorpara: #626262;
  --text-4xl: clamp(4rem, 8vw, 5.625rem);
  /* 64px–90px */
  --text-3xl: clamp(3.5rem, 7vw, 5rem);
  /* 56px–80px */
  --text-2xl: clamp(3rem, 6vw, 4.375rem);
  /* 48px–70px */
  --text-xl: clamp(2rem, 4vw, 2.1875rem);
  /* 32px–35px */
  --text-lg: clamp(1.875rem, 3.5vw, 2rem);
  /* 30px–32px */
  --text-md: clamp(1.375rem, 2.5vw, 1.5625rem);
  /* 22px–25px */
  --text-sm: clamp(1rem, 1.5vw, 1.1875rem);
  /* 16px–19px */
  --text-xs: clamp(0.9375rem, 1.25vw, 1rem);
  /* 15px–16px */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "DM Sans", sans-serif;
  --color-primary: var(--primary);
  --color-colorpara: var(--colorpara);
  --color-bdrcolor: var(--bdrcolor);
  --color-colorp: var(--colorp);
  --breakpoint-2xl: 96.875rem;
  --text-4xl: var(--text-4xl);
  --text-3xl: var(--text-3xl);
  --text-2xl: var(--text-2xl);
  --text-xl: var(--text-xl);
  --text-lg: var(--text-lg);
  --text-md: var(--text-md);
  --text-sm: var(--text-sm);
  --text-xs: var(--text-xs);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-sans)
}

.container {
  @apply mx-auto px-[15px];
}

@media screen and (max-width: 460px) {
  .smtext10 {
    @apply text-[10px];
  }
}

.custom-pagination .swiper-pagination-bullet,
.cus-pagination .swiper-pagination-bullet {
  display: inline-block;
  height: 4px;
  width: 16px;
  background-color: #ccc;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}

.custom-pagination .swiper-pagination-bullet-active,
.cus-pagination .swiper-pagination-bullet-active {
  width: 35px;
  background: linear-gradient(90deg, #42BADC 0%, #236476 100%);
  opacity: 1;
}

.cus-pagination {
  margin-top: 25px;
}

@media screen and (min-width: 1024px) {
  .aftergd::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    height: 100%;
    background: radial-gradient(200.18% 159.42% at 96.84% 1.49%, #42BADC 0%, rgba(66, 186, 220, 0) 65%, rgba(66, 186, 220, 0) 100%);

    z-index: 0;
  }
}

.swiper-slide:nth-child(odd) .aluminibg {
  background: radial-gradient(91.56% 98.58% at 0% 100%, #42BADC 0%, rgb(66 186 220 / 27%) 70%, rgb(66 186 220 / 0%) 100%);
}

.swiper-slide:nth-child(even) .aluminibg {
  background: radial-gradient(91.56% 98.58% at 0% 100%, #7E5AA3 0%, #7e5aa366 70%, #7e5aa300 100%);

}

.swiper-slide:nth-child(odd) .slidegpmn .hdriv {
  background: linear-gradient(180deg, rgba(66, 186, 220, 0) 61.58%, #42BADC 94.52%)
}

.swiper-slide:nth-child(even) .slidegpmn .hdriv {
  background: linear-gradient(180deg, rgba(126, 90, 163, 0) 60.77%, #7E5AA3 92.82%);
}

.swiper-slide:nth-child(odd) .slidegpmn:hover .hdriv {
  background: #42badbf0;
}

.swiper-slide:nth-child(even) .slidegpmn:hover .hdriv {
  background: #3F225CF0;
}

.swiper-slide:nth-child(odd) .slidegpmn:hover .strokclass {
  stroke: #3F225C;

}

.swiper-slide:nth-child(even) .slidegpmn:hover .strokclass {
  stroke: #42badb;

}

.lettersp-4 {
  letter-spacing: -4px;
}

.lettersp-1 {
  letter-spacing: -1px;
}

.lettersp-2 {
  letter-spacing: -2px;
}

@media screen and (max-width: 992px) {
  .lettersp-4 {
    letter-spacing: 0px;
  }

  .lettersp-1 {
    letter-spacing: 0px;
  }

  .lettersp-2 {
    letter-spacing: 0px;
  }
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }

  body {
    @apply bg-background text-foreground;

  }

}

.aftercontent1::after,
.aftercontent3::after {
  content: url(/images/scholarship/svg8.svg);
  position: absolute;
  bottom: 0;
  right: -170px;
  top: 43px;
  overflow: hidden;
  z-index: -1;
}

.aftercontent2::after,
.aftercontent4::after {
  content: url(/images/scholarship/svg81.svg);
  position: absolute;
  bottom: 0;
  right: -176px;
  top: -6px;
  overflow: hidden;
  z-index: -1;
}

@media (max-width: 767px) {

  .aftercontent1::after,
  .aftercontent3::after,
  .aftercontent2::after,
  .aftercontent4::after {
    display: none;
  }
}


@media (min-width: 1280px) and (max-width: 1549px) {

  .aftercontent2::after,
  .aftercontent4::after {
    top: 9px;
  }

  .aftercontent1::after,
  .aftercontent3::after {
    top: 35px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {

  .aftercontent1::after,
  .aftercontent3::after {
    right: -94px;
    top: 16px;
    width: 94%;
  }

  .aftercontent2::after,
  .aftercontent4::after {
    right: -98px;
    top: 11px;
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1023.89px) {

  .aftercontent1::after,
  .aftercontent3::after {
    right: -73px;
    top: 4px;
    width: 126%;
  }

  .aftercontent2::after,
  .aftercontent4::after {
    right: -81px;
    top: 10px;
    width: 140%;
  }
}

@media screen and (max-width: 992px) {
  .schl {
    max-width: 48% !important;
  }
}

@media screen and (max-width: 768px) {
  .schl {
    max-width: 100% !important;
  }
}

.tab-btn {
  @apply p-[1.1px] rounded-full overflow-hidden relative cursor-pointer transition-all duration-300 ease-in-out;
}

.tab-btn::before {
  content: "";
  @apply w-0 h-full absolute top-0 left-0 z-[-1] transition-all duration-300;
}

.tab-btn:hover::before {
  @apply w-full bg-gradient-to-r from-primary to-[#12586C];
}

.tab-btn.active::before {
  @apply w-full bg-gradient-to-r from-primary to-[#12586C];
}

.tab-btn:active::before {
  @apply w-full bg-gradient-to-r from-primary to-[#12586C];
  /* Add a visual difference like brightness, scale, or different colors */
}

.tab-btn:focus-within::before {
  @apply w-full bg-gradient-to-r from-primary to-[#12586C];
}

.tab-btn span {
  @apply px-5 py-[11px] text-base font-light block leading-[1.6875] text-[#666666] border border-[#D3D3D3] rounded-full overflow-hidden cursor-pointer relative bg-white transition-all duration-300 ease-in-out;
}

.tab-btn:hover span {
  border: 1ps solid transparent;
}

.tab-btn:hover span {
  @apply bg-[#C9F3FF] text-black;
}

.tab-btn:focus-within span {
  @apply bg-[#C9F3FF] text-black;
}

.tab-btn:active span {
  @apply bg-[#C9F3FF] text-black;
}

.tab-btn:focus span {
  @apply bg-[#C9F3FF] text-black;
}

.tab-btn.active span {
  @apply bg-[#C9F3FF] text-black;
}

.grid-bdr {
  /* border: 1px solid var(--bdrcolor); */
}
.grid-bdr {
  /* Remove container border */
  padding: 1px;
  /* Optional: if you want outer spacing */
}

.grid-bdr>div {
  border: 1px solid var(--bdrcolor);
  margin: -1px -1px 0 0;
}

.grid-bdr>div:nth-child(-n+3) {
  margin-top: 0;
}

.grid-bdr>div:nth-child(3n+1) {
  margin-left: 0;
}
.finsd .chklast:last-child .linediv{
  display: none;
}